Repository dherv/rpg-human-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0"],
  "**/*.{ts, tsx}": "tsc-files --noEmit",
  "*.{js,jsx,ts,tsx,json,css,js}": ["prettier --write"]
}

typescript
  package.json
Due: prettier --write

lint
  package.json
Due: prettier --write

prettier
  package.json
Due: prettier --write

prettier
  turbo.json
Due: prettier --write

filter client
  .gitlab-ci.yml
Due: none

filter client
  .gitlab-ci.yml
  package.json
Due: prettier --write

upgrade turborepo
  package-lock.json
  package.json
Due: prettier --write

downgrade and cypress
  package-lock.json
  package.json
  turbo.json
Due: prettier --write

chore: add git to docker
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore: add git to docker
  .gitlab-ci.yml
Due: none

chore: update artifact path
  .gitlab-ci.yml
Due: none

chore: update cypress config
  .gitlab-ci.yml
  package.json
Due: prettier --write

update failure scenario and cypress tests
  .eslintrc.json
  .gitlab-ci.yml
  .lintstagedrc.json
  apps/client/cypress/e2e/sessions.cy.ts
  apps/client/package.json
  package-lock.json
  package.json
  tsconfig.json
  turbo.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

Revert "move to npm"
  .husky/pre-commit
  .husky/pre-push
  apps/client/.lintstagedrc.json
  apps/client/package-lock.json
  apps/client/package.json
  apps/client/src/components/base/Activities.tsx
  apps/client/src/components/base/ActivityAddForm.tsx
  apps/client/src/components/base/ActivitySession.tsx
  apps/client/src/components/base/SessionAddForm.tsx
  apps/client/src/components/features/SessionLog.tsx
  apps/client/src/components/layout/Layout.tsx
  apps/client/src/components/pages/SessionLogsPage.tsx
  apps/client/yarn.lock
  apps/server/yarn.lock
  package-lock.json
  yarn.lock
Due: eslint --max-warnings=0, prettier --write

Revert "move husky and lint-staged"
  apps/client/.husky/pre-commit
  apps/client/.husky/pre-push
  apps/client/src/components/base/Activities.test.tsx
Due: eslint --max-warnings=0, prettier --write

feat(session-add): rename SessionAdd and add mutation with loading (#7)
  .lintstagedrc.json
  cypress/e2e/sessions.cy.ts
  package-lock.json
  package.json
  src/components/base/Activities.tsx
  src/components/base/ActivityAddForm.tsx
  src/components/base/ActivitySession.tsx
  src/components/base/DotText.tsx
  src/components/base/SessionAdd.test.tsx
  src/components/base/SessionAdd.tsx
  src/components/base/SessionAddForm.test.tsx
  src/components/base/SessionAddForm.tsx
  src/components/features/SessionLog.tsx
  src/components/layout/Layout.tsx
  src/components/layout/Nav.tsx
  src/components/pages/SessionAddPage.tsx
  src/components/pages/SessionLogsPage.test.tsx
  src/components/pages/SessionLogsPage.tsx
  src/features/api/apiSlice.ts
  src/main.tsx
  src/mocks/handlers.ts
  src/mocks/mocks.ts
  src/types/types.ts
  yarn.lock
Due: tsc-files --noEmit, prettier --write

Update sessions.cy.ts
  apps/client/cypress/e2e/sessions.cy.ts
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

add package lock and update husky on client
  apps/client/package.json
  package-lock.json
  yarn.lock
Due: prettier --write

update state github api
  .gitlab-ci.yml
Due: none

reinstall turbo
  package-lock.json
Due: prettier --write

types and npm install
  .gitlab-ci.yml
  tsconfig.json
Due: prettier --write

dist folder
  .gitlab-ci.yml
Due: none

swc package update
  .gitlab-ci.yml
  apps/client/package.json
  package-lock.json
Due: prettier --write

npm i
  package-lock.json
Due: prettier --write

husky is back
  .husky/pre-commit
  .husky/pre-push
Due: none

install git on cypress
  .gitlab-ci.yml
Due: none

cypress skip and test update
  apps/client/.gitignore
  apps/client/cypress/e2e/sessions.cy.ts
  package.json
  turbo.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

cypress skip and test update
  .gitlab-ci.yml
Due: none

remove cypress group
  .gitlab-ci.yml
Due: none

chore: move client ci and lint to repo root (#1)
  .eslintrc.json
  .github/workflows/main.yml
  .gitlab-ci.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  apps/client/.gitignore
  apps/client/cypress/e2e/sessions.cy.ts
  apps/client/package.json
  package-lock.json
  package.json
  tsconfig.json
  turbo.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

chore(server): add dev env for integration tests
  apps/server/Dockerfile
  apps/server/docker-compose.dev.yml
  apps/server/package.json
  apps/server/readme
  apps/server/scripts/run-application-dev-mode.sh
  package.json
Due: prettier --write

chore(db): add dbmate init migration
  apps/server/db/migrations/20221117074044_initial-migration.sql
  apps/server/db/schema.sql
Due: none

chore(lint): add global eslint config
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  apps/client/.eslintrc.js
  apps/client/.eslintrc.json
  apps/client/package.json
  apps/server/.eslintrc.js
  apps/server/package.json
  apps/server/src/activities/activities.repository.ts
  apps/server/src/index.ts
  apps/server/src/sessions/sessions.controller.ts
  apps/server/src/sessions/sessions.repository.ts
  apps/server/src/sessions/sessions.types.ts
  package-lock.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  turbo.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

chore: configure env switch
  apps/client/package.json
  apps/server/package.json
  apps/server/src/index.ts
  package.json
  turbo.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

chore: install muix datetime picker and joyui lib
  apps/client/package.json
  apps/client/src/main.tsx
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write

feat: RH-45 add session date time picker
  apps/client/src/components/base/DateTimePicker.tsx
  apps/client/src/components/base/SessionAdd.test.tsx
  apps/client/src/components/base/SessionAdd.tsx
  apps/client/src/features/api/apiSlice.ts
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

feat: RH-45 session date format
  apps/client/package.json
  apps/client/src/features/api/apiSlice.ts
  apps/client/src/mocks/handlers.ts
  apps/server/src/activities/activities.controller.ts
  apps/server/src/helpers.ts
  apps/server/src/sessions/sessions.repository.ts
  package.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

feat: RH-45 add session date time picker (#2)
  apps/client/package.json
  apps/client/src/components/base/DateTimePicker.tsx
  apps/client/src/components/base/SessionAdd.test.tsx
  apps/client/src/components/base/SessionAdd.tsx
  apps/client/src/features/api/apiSlice.ts
  apps/client/src/mocks/handlers.ts
  apps/server/src/activities/activities.controller.ts
  apps/server/src/helpers.ts
  apps/server/src/sessions/sessions.repository.ts
  package.json
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

chore: add material ui and joy ui kit
  apps/client/package.json
  apps/client/src/main.tsx
  package-lock.json
Due: eslint --max-warnings=0, prettier --write

refactor: RH-48 navbar mobile and desktop
  apps/client/src/components/layout/CustomLink.tsx
  apps/client/src/components/layout/Header.tsx
  apps/client/src/components/layout/Layout.tsx
  apps/client/src/components/layout/Nav.tsx
Due: eslint --max-warnings=0, prettier --write
